<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Input list here</title>
</head>
<body>
    <h4>Data input for Radix</h4>
    <form action="/radix/process" method="POST">
        {%csrf_token%}
        <input type="text" name="dataArray">
        <button>submit</button>
    </form>
    <br>
    <h4>Data input for Quick Sort</h4>
    <form action="/quicksort/process" method="POST">
        {%csrf_token%}
        <input type="text" name="dataArray">
        <button>submit</button>
    </form>
    
</body>
</html>