<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{sorttype}} Sort</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <div class="container">
    <h1>{{sorttype}}</h1>
    <h4>Unsorted list is {{list|safe}}</h4>
    {% for step in steps %}
        <p>{{step|safe}}</p>
    {%endfor%}
    <h4>Sorted list is {{result|safe}}</h4>
    <p>If sorted list is none then no return statement exists at bottom of Function</p>
    </div>
    
</body>
</html>