<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{sorttype}} Sort</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'datasortapp/css/style.css' %}">    
    
</head>
<body>
    {%if sorttype == 'Quick Sort'%}
    <script src="{% static 'datasortapp/js/sketch.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.sound.min.js"></script>
        {%endif%}
    {%if sorttype == 'Bubble Sort'%}
    <script src="{% static 'datasortapp/js/bubble.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.sound.min.js"></script>
        {%endif%}
    {%if sorttype == 'Cocktail Sort'%}
    <script src="{% static 'datasortapp/js/cocktail.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.sound.min.js"></script>
        {%endif%}
    {%if sorttype == 'Selection Sort'%}
    <script src="{% static 'datasortapp/js/selection.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.sound.min.js"></script>
        {%endif%}
        </div>
    <div class="container">
           
    <div class="container">
    <h1>{{sorttype}}</h1>
    {%if sorttype == 'Quick Sort'%}
    <br><img height="200px" width="200px" src="{% static 'datasortapp/images/quick_s.gif' %}" />
    {%endif%}
    {%if sorttype == 'Bubble Sort'%}
    <br><img height="200px" width="200px" src="{% static 'datasortapp/images/bubble_s.gif' %}" />
    {%endif%}
    {%if sorttype == 'Heap Sort'%}
    <br><img height="200px" width="200px" src="{% static 'datasortapp/images/heap_s.gif' %}" />
    {%endif%}
    <h4>Unsorted list is {{list|safe}}</h4>
    {% for step in steps %}
        <p>{{step|safe}}</p>
    {%endfor%}
    <h4>Sorted list is {{result|safe}}</h4>
    <p>If sorted list is none then no return statement exists at bottom of Function</p>
    </div>
    <!-- <img src="{% static 'app_name/images/image.jpg' %}" /> -->


</body>
</html>