<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sort Colors test</title>
    
    
</head>
<body>
          
                  
    <h1>is working</h1>
    {% load static %}
    <img src="{% static 'datasortapp/images/testing-sorted-hue.png' %}" />
    <img src="{% static 'datasortapp/images/testing-sorted-saturation.png' %}" />
    <img src="{% static 'datasortapp/images/testing-sorted-value.png' %}" />
   <br> <img src="{% static 'datasortapp/images/initial_hsv_1.png' %}" />
    <img src="{% static 'datasortapp/images/initial_hsv_1_shuffled.png' %}" />
    <br><img src="{% static 'datasortapp/images/bubble_s.gif' %}" />

</body>
</html>