*{
    margin: 0px;
    padding: 0px;
}
.background{
    background-image: url('/static/datasortapp/images/background.jpg');
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
}

.container h1{
    color: white
}

.button{
    margin-top: 10px;
}
